.App {
  height: 100vh;
}

.header {
  background-color: white;
  height: 75px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: #257C37;
  text-align: center;
  padding: 0;
  margin: 0;
}

.timeButton, .active, .timeRemainingContainer {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
}

.timeButton:hover, .active:hover {
  cursor: pointer;
  background-color: #257C37;
  color: white;
}

.timeButton {
  color: #257C37;
}

.active {
  background-color: #257C37;
  color: white;
}

.timeSelection, .timerControls,  .timerTypeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.timerContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

.timer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  border: 1px solid red;
}

.minuteHand {
  height: 300px;
  border: 1px solid blue;
}

.timeRemainingContainer {
  background-color: white;
  box-shadow: 0px 0px 5px 1px #8d8344;
  border: 1px solid #8d8344;

}

.timeRemaining {
  color: #257C37;
}