.App {
  height: 100vh;
}

.title {
  color: #257C37;
  text-align: center;
}

.timeButton, .active, .timeRemainingContainer {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
}

.timeButton:hover, .active:hover {
  cursor: pointer;
  background-color: #257C37;
  color: white;
}

.timeButton {
  color: #257C37;
}

.active {
  background-color: #257C37;
  color: white;
}

.timeSelection {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.timerControls {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.timerContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

.timer {
  height: 100%;
  width: 100%;
  background-image: url('Assets/avacado.svg');
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
}

.minuteContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.minuteHand {
  height: 400px;
  width: 75px;
  left:45%;
  top: 10%;
  position: absolute;
  transform-origin: 50% 100%;
  object-fit: cover;
  object-position: bottom;
}

.timeRemainingContainer {
  background-color: white;
  box-shadow: 0px 0px 6px 2px #8d8344;

}

.timeRemaining {
  color: #257C37;
}