.App {
  background-color: black;
  height: 100vh;
}

.timerContainer {
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid blue;
  height: 100%;
}

.timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px red solid;
}

.minuteHand {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 350px;
  border: 1px green solid;
}